# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries
*.test

# Output of go coverage
*.out
*.coverprofile
profile.cov

# Dependency directories (optional, usually ignored)
# vendor/

# Go workspace file
go.work
go.work.sum

# Environment files
.env
