@font-face {
  font-family: "Format A";
  src: url("./assets/fonts/Factor A-Regular-Web.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Format A";
  src: url("./assets/fonts/Factor A-Bold-Web.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "LapsusPro";
  src: url("./assets/fonts/LapsusPro-Bold.otf") format("otf");
  font-weight: 700;
  font-style: normal;
}
